/*
@about Модуль одиночных журнальных вертикальных изображений.
@purpose Управляет геометрии и адаптивностью одиночного блока figure 9/16.
@author TechLab
@version 1.0
*/

@layer components {

    /* [ЭЛЕМЕНТ] Целевой элемент вертикальной картинки */
    .main-content .img-single-figure img.img-single-figure-portrait {
        
        /* ПК-режим и параметры стабилизации */
        &, &[data-src] {
            display: inline-block;
            width: var(--media-pc-height);              
            height: auto; 
            max-height: none;               
            aspect-ratio: var(--ratio-portrait);
            object-fit: contain; 
            margin: 0; 
        }

        /* [Портрет]: Аккуратно сжимаем ширину по коэффициенту 9/16 от строки контента */
        @media (max-width: 900px) and (orientation: portrait) {
            &, &[data-src] {
                width: calc(var(--mobile-full-width) * var(--ratio-portrait));
            }
        }

        /* [Ландшафт]: Задаем высоту от ширины соседа и защищаем от вылета по высоте */
        @media (max-height: 500px) and (orientation: landscape) {
            &, &[data-src] {
                width: auto;
                height: var(--mobile-base-landscape-width);
                max-height: calc(var(--media-pc-height) * var(--ratio-landscape));
            }
        }
    }

}
