/*
@about Модуль кастомных журнальных горизонтальных изображений.
@purpose Управляет геометрией и адаптивностью одиночного блока figure с кастомными пропорциями.
@author TechLab
@version 1.0
*/

@layer components {

    /* [ЭЛЕМЕНТ] Целевой элемент кастомной горизонтальной картинки */
    .main-content .img-single-figure img.img-single-figure-custom-landscape {
        
        /* ПК-режим и параметры стабилизации */
        &, &[data-src] {
            display: block;
            max-height: var(--media-pc-height);
            width: auto;
            max-width: var(--mobile-full-width);                    
            object-fit: unset;
            margin: 0;
        }

            /* [Портрет]: Снимаем ПК-потолок высоты и раскрываем во всю ширину текстовой строки */
            @media (max-width: 900px) and (orientation: portrait) {
                &, &[data-src] {
                width: var(--mobile-full-width);
                height: auto;
                max-height: none;
            }
        }
    }

}