/*
@about Модуль горизонтальных журнальных изображений внутри галерейного ряда.
@purpose Задает геометрию 16/9 для горизонтальных кадров и их рамок во флекс-линии на ПК.
@author TechLab
@version 1.0
*/

@layer components {

    /* [БЛОК] Групповой контейнер журнального ряда (галереи) */
    .main-content .img-row-figure {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Центрируем весь галерейный блок по центру страницы */
        flex-wrap: wrap;         /* Разрешаем перенос рамок на новую строку при сжатии ПК-экрана */
        align-items: stretch;
        gap: var(--gap-pc);      /* Наш системный зазор 15px с главного пульта */
        width: auto; /* Контейнер зажат строго по ширине строки контента */
        max-width: var(--mobile-full-width);
        margin: 1em 0;     /* Оригинальная форма отступа из вашего эталона */

        /* [ЭЛЕМЕНТ] Универсальная журнальная рамка-коробка */
        & figure.img-figure {
            display: inline-flex;
            flex-direction: column;
            width: auto;
            margin: 0;

            /* [Портрет]: Раскрываем коробку рамки строго по ширине текстовой строки с пульта */
            @media (max-width: 900px) and (orientation: portrait) {
                width: var(--mobile-full-width);
            }
        }

        /* [ЭЛЕМЕНТ] Целевой горизонтальный галерейный кадр */
        & img.img-row-figure-landscape {
            &, &[data-src] {
                height: var(--media-pc-height); /* Строго 209px в высоту на ПК */
                width: auto;                    
                aspect-ratio: var(--ratio-landscape); /* Намертво запечатываем 16/9 */
                object-fit: contain; /* Профессиональное вписывание разноформатных кадров БЕЗ обрезки */
                object-position: center;   
                margin: 0;
            }

            /* [Портрет]: Кадр заполняет системную рамку и включает расчет высоты антипрыжка */
            @media (max-width: 900px) and (orientation: portrait) {
                &, &[data-src] {
                    width: var(--mobile-full-width);
                    height: auto;
                }
            }
        }
    }

}
